doctype html
html
	head
		meta(name="viewport",
			 content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		block cssDepends
			link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css",
				 rel="stylesheet")
			link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css",
				 rel="stylesheet")
			link(href="/css/odometer-theme-default.css", rel="stylesheet")
		block cssSite
			link(href="/css/style.css", rel="stylesheet")
	body
		div.container-fluid
			block content

		block jsDepends
			script(src="https://code.jquery.com/jquery-2.1.3.min.js")
			script(src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js")
			script(src="/js/odometer.min.js")
			//- script(src="js/isMobile.min.js")

		block jsCode