extends ./layout.jade

block content
	div.row
		div#note.col-xs-10.col-xs-offset-1
			form(method="POST")
				div.form-group
					input.form-control(type="text", name="party")#party
	if error
		p.text-warning= error