extends ./layout.jade

block content
	div.row
		div#note.col-xs-10.col-sm-5
			form(method="POST")
				div.form-group
					input.form-control(type="text")#party

				button.btn.btn-default(type="submit") submit
	if error
		p.text-warning= error