extends ./layout.jade

block content
	form(method="POST")
		div.row
			div#note(class=[
				"col-xs-10", "col-xs-offset-1",
				"col-lg-2", "col-lg-offset-5"
			])
				div.form-group
					input#party.form-control.text-center(type="text",
														 name="party",
														 maxlength=3)
		div.row.visible-xs-block
			div.col-xs-1.col-xs-offset-4
				button.btn.btn-default(type="submit") Submit
	if error
		p.text-warning= error

block jsCode
	script(src="js/new_connection.js")