extends ./layout.jade

block content
	div.row
		div(class=[
				"col-xs-6",
				"col-sm-3",
				"col-md-3",
				"col-lg-2",
				"center-block"
		])
			div#note
				p#party.text-center.noselect= party

	div.box
		img.center-block.img-responsive(src="img/votingBox.png")
		//- h2
		//- 	span= "Score: "
		//- 	span#score

		//- h3
		//- 	span#users
		//- 	span= " connected users"

		//- pre#stats
		//- button#statsBtn Refresh

block jsCode
	script(src="js/vote.js")
