extends ./layout.jade


block content
	- middleCls =

	div.row.note
		div(class=[
				"col-xs-6",
				"col-sm-3",
				"col-md-3",
				"col-lg-2",
				"center-block"
			])
			div#note.center-block
				p#party.text-center.noselect= party

	div.row#dropzone
		div

	div.row

		//- div#dropzone
		//- img.center-block.img-responsive(src="img/votingBox.png",
		//- 								class=middleCls)
		div#box-container(class=[
			"col-xs-8",
			"col-sm-3",
			"col-lg-2",
			"center-block"
		])
			img.center-block.img-responsive(src="img/votingBox.png")
			div.text-center
				h2
					span#score.odometer
					br
					span קולות בקלפי
				h3
					span#users
					span= " מצביעים נוספים"

	hr

	div.row
		h2.text-center Top 10:
		table.table#topTen
			thead
				tr
					th Rank
					th Party
					th Score

		h2.text-center Your Group:
		table.table#nearUser
			thead
				tr
					th Rank
					th Party
					th Score

		//- h2
		//- 	span= "Score: "
		//- 	span#score

		//- h3
		//- 	span#users
		//- 	span= " connected users"

		//- pre#stats
		//- button#statsBtn Refresh

block jsCode
	script(src="js/vote.js")
