extends ./layout.jade

block content
	div.box
		div#dropzone
		img.center-block.img-responsive(src="img/votingBox.png")
		div.text-center
			h2
				span#score
				br
				span קולות בקלפי
			h3
				span#users
				span= " מצביעים נוספים"

	div.row.note
		div(class=[
				"col-xs-6",
				"col-sm-3",
				"col-md-3",
				"col-lg-2",
				"center-block"
		])
			div#note
				p#party.text-center.noselect= party

		//- h2
		//- 	span= "Score: "
		//- 	span#score

		//- h3
		//- 	span#users
		//- 	span= " connected users"

		//- pre#stats
		//- button#statsBtn Refresh

block jsCode
	script(src="js/vote.js")
