extends ./layout.jade


block content
	div.row
		div.col-xs-12.col-md-6
			include ./note_elements.jade

		div.col-xs-12.col-md-6
			include ./stats_elements.jade

block jsCode
	script(src="js/vote.js")
