/**********/
/* Fonts: */
/**********/

@font-face {
  font-family: carmela;
  src: url(../font/carmela.ttf);
}
@font-face {
  font-family: frankruehl;
  src: url(../font/frankruehlclm-medium-webfont.woff);
}

/******************/
/* Helper classes */
/******************/

/* Fix bootstrap's center-block */
.center-block {
	float: none;
}

.rtl,
.rtl th {
	direction: rtl;
	text-align: right;
}


/**********/
/* Alerts */
/**********/
.alert {
	position:fixed;
	width: 100%;
	top: 0;
}


/*********************/
/* Prevent selection */
/*********************/
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/****************/
/* Note Element */
/****************/

form .note {
	margin-bottom: 30px;
}

div.row.note {
	margin-top: 15px;
}

#note {
	/*
	height: 0;
	padding-bottom: 125%;
	*/
	background-color: white;
	border-style: solid;
	outline-width: 1px;
	box-shadow: 0px 0px 10px;
	max-width: 250px;
	-webkit-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
			transform: rotate(3deg);
	cursor: pointer;
}

#note.input {
	-webkit-transform: none;
		-ms-transform: none;
			transform: none;
}

#party {
	margin-top: 15%;
	margin-bottom: 25%;
	direction: rtl;
	font-family: frankruehl;
	/*height: 200px;*/
	color: black;
}

input#party {
	border-style: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 0 0 0;
	margin-top: 15%;
	height: auto;
}

/* Submit button block - only shows in phones */

div.visible-xs-block {
	margin-top: 30px;
}



/**************/
/* Voting Box */
/**************/

.row.box {
	border-bottom-style: solid;
	border-bottom-width: 7px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-color: rgb(198, 198, 198);
}

#box-container {
	position: relative;
	padding-left: 0;
	padding-right: 0;
}

#box-container > div.text-center {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-family: carmela;
	color: white;
}


/*************/
/* Drop Zone */
/*************/

#dropzone {
	height: 20vh;
	position: relative;
}

#dropzone > div {
	width: 100%;
	/* Extra height to go over the voting box */
	height: 103%;
	position: absolute;
	margin-bottom: 3px;
	overflow: hidden;
	/* Z-index to go over the voting box */
	z-index: 1;
}

.mini-note {
	background-color: white;
	border-style: solid;
	outline-width: bold;
	position: absolute;
	/*height: inherit;*/
	border-width: thick;
	-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
			transform-origin: top left;
}


/**********/
/* Alerts */
/**********/
.messages {
	direction: rtl;
}

/****************/
/* Stats Tables */
/****************/

#statsRefresh {
	margin-bottom: 20px;
}
