/**********/
/* Fonts: */
/**********/

@font-face {
  font-family: carmela;
  src: url(../font/carmela.ttf);
}
@font-face {
  font-family: frankruehl;
  src: url(../font/frankruehlclm-medium-webfont.woff);
}

/********************************/
/* Fix bootstrap's center-block */
/********************************/

.center-block {
	float: none;
}

/****************/
/* Note Element */
/****************/

div.row:first-of-type {
	margin-top: 15px;
}

#note {
	height: 350px;
	background-color: white;
	border-style: solid;
	outline-width: 1px;
	box-shadow: 0px 0px 10px;
}

#note > .form-group {
	margin-top: 40px;
	position: relative;
}

input#party {
	border-style: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	direction: rtl;
	font-family: frankruehl;
	font-size: 120px;
	height: 200px;
	color: black;
	padding-left: 0;
	padding-right: 0;
}

/* Submit button block */

div.visible-xs-block {
	margin-top: 30px;
}