/**********/
/* Fonts: */
/**********/

@font-face {
  font-family: carmela;
  src: url(../font/carmela.ttf);
}
@font-face {
  font-family: frankruehl;
  src: url(../font/frankruehlclm-medium-webfont.woff);
}

/********************************/
/* Fix bootstrap's center-block */
/********************************/

.center-block {
	float: none;
}

/*********************/
/* Prevent selection */
/*********************/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/****************/
/* Note Element */
/****************/

div.row.note {
	margin-top: 15px;
}

#note {
	/*height: 350px;*/
	height: 0;
	padding-bottom: 125%;
	background-color: white;
	border-style: solid;
	outline-width: 1px;
	box-shadow: 0px 0px 10px;
	max-width: 250px;
}

#party {
	/*margin-top: 40px;*/
	margin-top: 15%;
	direction: rtl;
	font-family: frankruehl;
	/*font-size: 120px;*/
	height: 200px;
	color: black;
}

input#party {
	border-style: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 0 0 0;
	margin-top: 15%;
	height: auto;
}

p#party {
	/*padding-top: 15px;*/
}

/* Submit button block - only shows in phones */

div.visible-xs-block {
	margin-top: 30px;
}



/**************/
/* Voting Box */
/**************/

#box-container {
	position: relative;
	padding-left: 0;
	padding-right: 0;
}

#box-container > div.text-center {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-family: carmela;
	color: white;
}


/*************/
/* Drop Zone */
/*************/

#dropzone {
	height: 20vh;
	position: relative;
}

#dropzone > div {
	width: 100%;
	/* Extra height to go over the voting box */
	height: 103%;
	position: absolute;
	margin-bottom: 3px;
	overflow: hidden;
	/* Z-index to go over the voting box */
	z-index: 1;
}

.mini-note {
	background-color: white;
	border-style: solid;
	outline-width: 1px;
	position: absolute;
	/*-webkit-transform: scale(0.2);
	    -ms-transform: scale(0.2);
	        transform: scale(0.2);*/
	-webkit-transform-origin: top left;
	    -ms-transform-origin: top left;
	        transform-origin: top left;
}
